#######################################
# Logs
#######################################

*.log
logs/

#######################################
# Backups
#######################################

*.tar
*.tar.gz
*.tar.zst
*.zst
*.sha256

#######################################
# Temporary files
#######################################

tmp/
temp/
*.tmp

#######################################
# Editor files
#######################################

.vscode/
.idea/

*.swp
*.swo
*~

#######################################
# Operating System
#######################################

.DS_Store
Thumbs.db

#######################################
# Environment
#######################################

.env
.env.*

#######################################
# Bash history
#######################################

.history
